.cities {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;

  .city {
    min-width: 80px;
    height: 45px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    &:hover {
      background: rgba(245, 243, 254, 0.2);
      border-radius: 10px;
      cursor: pointer;
    }
    &_name {
      font-size: 15px;
    }
    &_remove-icon {
      width: 20px;
      height: 20px;
      &:hover {
        border: 1px solid #f5f3fe;
        border-radius: 20px;
        cursor: pointer;
      }
    }

    .disable {
      display: none;
    }
  }

  .active {
    background: rgba(245, 243, 254, 0.2);
    border-radius: 10px;
  }
}
